body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color_name{
    color: orange;
}
h1{
    font-size: 50px;
}
.flax_conteiner{
    display: flex;
    margin-bottom: 100px;
}
.hafe_width{
    width: 50%;
    padding-left: 2%;
}
.hafe_width img{
    width: 80%;
}
.link_batton{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences_item{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
   
}
.experiences_item1{
    width: 40%;
    margin: 20px auto;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid red;
    border-radius: 10px;
}
.experiences_item2{
    width: 40%;
    margin: 20px auto;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid blue;
    border-radius: 10px;
}
.experiences{
font-size: 40px;
}
footer p{
    text-align: center;
}